*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#854e39 ;
}
nav{
    display: flex;
    padding: 20px 5px;
}
nav ul{
    flex: 1;
    text-align: left;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 20px 10px 5px 40px;
}
nav ul li a{
    text-decoration: none;
    font-size: 15px;
    color: whitesmoke;
    font-weight: lighter;
    word-spacing: 10px;
    letter-spacing: 5px;
}
nav ul li:hover{
    border-bottom: 1px solid rgb(221, 210, 210);
}
.img1{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    position: absolute;
    
}


h1{
    color: whitesmoke;
    margin: 120px 10px 5px 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
    
}
h2{
    color: #cf8e74;
    margin: 50px 10px 5px 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
}
.botao{
    text-align: center;

}
.btn{
    border: 1px solid #ba816b;
    background: none;
    padding: 15px 30px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    cursor: pointer;
}
.btn:hover{
    color: black;
}